<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notifications</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Notifications</h1>
  </header>
  <!-- Your notification list goes here -->
  <ul>
    <li>
      <h3>Issue Resolution</h3>
      <p>Dear Customer. Thanks for your last issue. The issue is now resolved.</p>
    </li>
    <li>
      <h3>Bank Announcement</h3>
      <p>New payment system is now available.</p>
    </li>

    <li>
      <h3>Reminder</h3>
      <p>Watch out, The deadline for paying the telephone bill is tomorrow !</p>
    </li>
  </ul>
  <footer>
    <p>&copy; 2023 Banking App. All rights reserved.</p>
  </footer>
</body>
</html>
