@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  font-family: "Quicksand";
  /* background-color: white; */
}

.App{
  background-color: white;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #0A2A5E;
}

.navbar h1 {
  color: #0756d4;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #ddd;
}



.navbar a:hover {
  color: #9DC3E6;
}





.neon-border {
  max-width: 600px;
  max-height: 800px;
  margin: 130px auto;
  align-content: center;
  /* border: 3px solid #0756d4; */
  /* border-radius: 200px; */
  /* box-shadow: 0 0 1px #0A2A5E, 0 0 1px #0A2A5E, 0 0 1px #0A2A5E, 0 0 20px #0A2A5E; */
  background-color: 'transparent';
  z-index: 1;

}
.try2 {
  position: absolute;
  background-image: url("background_2.png");
  background-size: 660px 660px;
  background-repeat: no-repeat;
  background-position-x: -46px;
  background-position-y: -40px;
  width: 560px;
  height: 550px;
  top: 0;
  margin: 70px 30px 30px 10px;
}


.try {
  position: fixed;
  bottom: 44px;
  right: 20px;
  width: 300px;
  height: 300px;
  background-image: url('backgrounf_design.png');
  background-repeat: no-repeat;
  background-size: 300px 300px;
  z-index: -1;
  border-radius: 600px;
  left: 200.99px;
  top: 320.451px;
}

.try4{
background-color: #f1356d;
}

.neon-border input:hover ,button:hover  {
  box-shadow: 1px 3px 5px rgb(0, 183, 255);
}

.neon-border-inside {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.neon-border-inside label {
  text-align: left;
  font-weight: bold;
  display: block;
  color: #0756d4;
  margin: 50px 0 0 0;
}

.neon-border-inside h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.neon-border-inside input,
.neon-border-inside textarea,
.neon-border-inside select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.neon-border-inside button {
  background: #4c00ff;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px 0 20px 0;
}

.chat-btn{
        position: fixed;
        bottom: 44px;
        right: 20px;
        width: 70px;
        height: 70px;
        cursor: pointer;
        /* background-image: url(/img/kepler.png); */
        background-repeat: no-repeat;
        background-size: 70px 70px;
        z-index: 3;
        border-radius:100px;
        left: 50.99px;
        top: 530.451px;
      }

.chat-btn {
  background-image: url(chatbot.jpg) !important;
}


.chat-btn-box {
  position: fixed;
  width: 325px;
  height: 372px;
  margin-top: -11px;
  box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 10%);
  background-color: transparent;
  border-radius: 5px;
  z-index: 5;
  top: 170.986px;
  left: 110.986px;
  display: block
}

.chat-btn,
.chat-btn-box {
  z-index: 1031 !important;
}

.chat-btn-box-header {
  height: 28px;
  background-color: #DEDEDE;
  text-align: center;
  font-weight: bold;
  line-height: 28px;
}

.chat-btn-box-list {
  position: relative;
  height: 344px;
  width: 100%;
  overflow-y: auto;
  background-color: #FFFFFF;
}

.chat-btn-box-list-item {
  position: relative;
  height: 45px;
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
  background-color: #FFFFFF;
  padding: 0 0 20px 0;
}



.chat-btn-box-list-item .user-name {
  text-overflow: ellipsis;
  margin-right: 100px;
  padding: 8px 10px 2px 10px;
  color: #1F1F1F;
  font-size: 14px;
  line-height: 14px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  background-color: #FFFFFF;
}

.chat-btn-box-list-item .reply {
  text-overflow: ellipsis;
  margin-right: 30px;
  padding: 2px 10px 0 10px;
  color: #B6B6B6;
  line-height: 12px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px !important;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
}

.chat-btn-submit-form {
position: absolute;
 bottom: 0;
display:flex;
}

.chat-btn-submit-form input{
  color: black;
   background-color:white;
    width:300px;
}

.chat-btn-submit-form img {
background-color: white;
height:20px;
width:17px;
padding:2px 0 0 0;
  
}


.container {
  overflow: hidden;
  /* make sure the container clips the images */
}

.queue {
  display: flex;
  animation: slide 10s linear infinite;
  /* animate the images with the slide animation */
}

.queue img {
  margin-right: 20px;
  height: 300px;
  /* add some spacing between the images */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% + 20px));
    /* subtract the margin-right value from the 100% to keep the images aligned */
  }
}